.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a7bcff;

}

.home-container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}